.main {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main h1 {
  margin: 40px 0;
  text-align: center;
  color: #eee;
}

.main form input {
  width: 500px;
  padding: 12px;
  padding-right: 40px;
  border-bottom: 2px solid #ddd;
  background-color: transparent;
  font-size: 25px;
  color: #eee;
}

.main form input:focus {
  outline: none;
}

.main form input:focus ~ label {
  top: -80px;
  left: 60px;
}

.main form input:focus ~ .bar:before,
.main input:focus ~ .bar:after {
  width: 50%;
}

.main form label {
  position: absolute;
  top: -30px;
  left: 60px;
  font-weight: bold;
  font-size: 35px;
  color: #fff;
  transition: 0.2s ease all;
}

.main form .bar {
  position: relative;
  display: block;
  width: 500px;
}

.main form .bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #7E86B4;
  transition: 0.2s ease all;
}

.main form .bar:before {
  left: 50%;
}

.main form .bar:after {
  right: 50%;
}

.main form button {
  position: absolute;
  bottom: 8px;
  right: 0;
  border: none;
  background-color: transparent;
}
