.nav {
  padding: 20px;
  display: flex;
}

.nav .left {
  display: inherit;
  flex-grow: 1;
  justify-content: flex-start;
}

.nav .right {
  display: inherit;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav .left h1 {
  font-size: 30px;
  color:  rgba(84, 71, 64, 1);
}

.nav .right button {
  border: none;
  background-color: transparent;
  font-size: 23px;
  color: #eee;
}