html, body, div, a, p, h1 ,h2 ,h3 ,h4, h5, h6, form, input {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}

button {
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: none;
  background-color: #fff;
  cursor: pointer;
}

button:active {
  color: #666;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(./images/background-img.jpg);
  background-size: 100vw 100vh;
  z-index: -1;
}

.bg .wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}